# Ambientes virtuais Python
.venv/
venv/
env/

# Cache e builds do Python
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# Dependências do Node.js
node_modules/

# Configs de IDEs e logs
.vscode/
.idea/
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db